target/
.mvn/wrapper/maven-wrapper.jar

!**/src/main/**/target/
!**/src/test/**/target/

*.log

application-local.properties
application-dev.properties
application-test.properties

.idea/
*.iws
*.iml
*.ipr

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.vscode/

.gradle/
build/

.DS_Store
Thumbs.db

.env
.env.*

*.pem
*.key

docker-compose.override.yml

*.db
*.sqlite